body {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
   background-image: url(img\ bgm1.webp);
    background-repeat: no-repeat; 
    background-position: left top;
    background-size: 100% auto; 
    opacity: 0.6;
}

.forgot-password-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

input[type=email] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.links a {
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
