body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('img\ bgm1.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.main {
    width: 400px;
    background-color: rgba(25, 24, 34, 0.68); /* Adjusted for slight transparency */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #f2f5f5; /* Moved here for global color setting within .main */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccccccfc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #006aff;
    color: rgba(255, 255, 255, 0.958);
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2172c9;
}
